In [17]:

# Imports & basic setup


import pandas as pd
import numpy as np

# Optional: show more columns when displaying DataFrames
pd.set_option("display.max_columns", 50)
pd.set_option("display.width", 120)

In [18]:

#Load the dataset


file_path = ('C:\\Users\\emili\Downloads\\archive (2)\Superstore.xlsx')   # e.g. "Sample - Superstore.xls" or "data.xlsx"
df = pd.read_excel(file_path)

print("Dataset loaded!")
print("Shape (rows, columns):", df.shape)

df.head()

Dataset loaded!
Shape (rows, columns): (9994, 21)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [19]:

# Quick structure overview


print("=== INFO ===")
df.info()

print("\n=== FIRST 5 ROWS ===")
display(df.head())

print("\n=== LAST 5 ROWS ===")
display(df.tail())

=== INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

=== FIRST 5 ROWS ===

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

=== LAST 5 ROWS ===

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [20]:

# Cell 4 â€“ Check missing values


print("=== Missing values per column ===")
missing_counts = df.isnull().sum()
display(missing_counts)

print("\nColumns with at least 1 missing value:")
display(missing_counts[missing_counts > 0])

=== Missing values per column ===

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

Columns with at least 1 missing value:

Series([], dtype: int64)

In [21]:

# Standardize column names
# (lowercase, strip spaces, replace spaces with underscores)

original_columns = df.columns.tolist()
print("Original columns:\n", original_columns)

df.columns = (
    df.columns
      .str.strip()           # remove leading/trailing spaces
      .str.lower()           # lowercase names
      .str.replace(' ', '_') # replace internal spaces with '_'
)

print("\nCleaned columns:\n", df.columns.tolist())

Original columns:
 ['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

Cleaned columns:
 ['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'product_id', 'category', 'sub-category', 'product_name', 'sales', 'quantity', 'discount', 'profit']

In [22]:

# Clean string (object) columns
# (lowercase values, strip spaces)

object_cols = df.select_dtypes(include="object").columns
print("String columns:", list(object_cols))

for col in object_cols:
    df[col] = df[col].str.strip().str.lower()

# Show a small sample to confirm changes
df[object_cols].head()

String columns: ['order_id', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'region', 'product_id', 'category', 'sub-category', 'product_name']

,order_id,ship_mode,customer_id,customer_name,segment,country,city,state,region,product_id,category,sub-category,product_name
0,ca-2016-152156,second class,cg-12520,claire gute,consumer,united states,henderson,kentucky,south,fur-bo-10001798,furniture,bookcases,bush somerset collection bookcase
1,ca-2016-152156,second class,cg-12520,claire gute,consumer,united states,henderson,kentucky,south,fur-ch-10000454,furniture,chairs,"hon deluxe fabric upholstered stacking chairs,..."
2,ca-2016-138688,second class,dv-13045,darrin van huff,corporate,united states,los angeles,california,west,off-la-10000240,office supplies,labels,self-adhesive address labels for typewriters b...
3,us-2015-108966,standard class,so-20335,sean o'donnell,consumer,united states,fort lauderdale,florida,south,fur-ta-10000577,furniture,tables,bretford cr4500 series slim rectangular table
4,us-2015-108966,standard class,so-20335,sean o'donnell,consumer,united states,fort lauderdale,florida,south,off-st-10000760,office supplies,storage,eldon fold 'n roll cart system

In [23]:

#Convert date columns (if needed)

# Adjust the column names to MATCH your dataset.
# For the Superstore dataset they are usually: 'order_date', 'ship_date'

date_columns = ["order_date", "ship_date"]  # change if your names differ

for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")  # invalid dates become NaT

print("Date columns converted (if present).")
df[date_columns].head() if all(c in df.columns for c in date_columns) else print("Some date columns not found.")

Date columns converted (if present).

  order_date  ship_date
0 2016-11-08 2016-11-11
1 2016-11-08 2016-11-11
2 2016-06-12 2016-06-16
3 2015-10-11 2015-10-18
4 2015-10-11 2015-10-18

In [24]:

# Handle missing values (example strategies)


# Check again after conversions
print("Missing values after cleaning:")
display(df.isnull().sum())

# Example of filling numeric missing values with mean
# and categorical/text missing values with "unknown"


num_cols = df.select_dtypes(include=[np.number]).columns
cat_cols = df.select_dtypes(include=["object"]).columns

# Fill numeric NaNs with column mean
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

# Fill categorical NaNs with "unknown"
df[cat_cols] = df[cat_cols].fillna("unknown")

print("\nMissing values AFTER filling:")
display(df.isnull().sum())

Missing values after cleaning:

row_id           0
order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub-category     0
product_name     0
sales            0
quantity         0
discount         0
profit           0
dtype: int64

Missing values AFTER filling:

row_id           0
order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub-category     0
product_name     0
sales            0
quantity         0
discount         0
profit           0
dtype: int64

In [25]:

#Check and remove duplicates

duplicate_count = df.duplicated().sum()
print("Number of duplicated rows:", duplicate_count)

if duplicate_count > 0:
    df = df.drop_duplicates()
    print("Duplicates removed.")
else:
    print("No duplicates found.")

print("New shape (rows, columns):", df.shape)

Number of duplicated rows: 0
No duplicates found.
New shape (rows, columns): (9994, 21)

In [26]:

#Basic summary statistics (for verification)


print("=== SUMMARY STATISTICS (NUMERIC) ===")
display(df.describe())

print("\n=== SAMPLE OF CLEANED DATA ===")
display(df.head())

=== SUMMARY STATISTICS (NUMERIC) ===

            row_id   postal_code         sales     quantity     discount       profit
count  9994.000000   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   4997.500000  55190.379428    229.858001     3.789574     0.156203    28.656896
std    2885.163629  32063.693350    623.245101     2.225110     0.206452   234.260108
min       1.000000   1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    2499.250000  23223.000000     17.280000     2.000000     0.000000     1.728750
50%    4997.500000  56430.500000     54.490000     3.000000     0.200000     8.666500
75%    7495.750000  90008.000000    209.940000     5.000000     0.200000    29.364000
max    9994.000000  99301.000000  22638.480000    14.000000     0.800000  8399.976000

=== SAMPLE OF CLEANED DATA ===

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,1,ca-2016-152156,2016-11-08,2016-11-11,second class,cg-12520,claire gute,consumer,united states,henderson,kentucky,42420,south,fur-bo-10001798,furniture,bookcases,bush somerset collection bookcase,261.9600,2,0.00,41.9136
1,2,ca-2016-152156,2016-11-08,2016-11-11,second class,cg-12520,claire gute,consumer,united states,henderson,kentucky,42420,south,fur-ch-10000454,furniture,chairs,"hon deluxe fabric upholstered stacking chairs,...",731.9400,3,0.00,219.5820
2,3,ca-2016-138688,2016-06-12,2016-06-16,second class,dv-13045,darrin van huff,corporate,united states,los angeles,california,90036,west,off-la-10000240,office supplies,labels,self-adhesive address labels for typewriters b...,14.6200,2,0.00,6.8714
3,4,us-2015-108966,2015-10-11,2015-10-18,standard class,so-20335,sean o'donnell,consumer,united states,fort lauderdale,florida,33311,south,fur-ta-10000577,furniture,tables,bretford cr4500 series slim rectangular table,957.5775,5,0.45,-383.0310
4,5,us-2015-108966,2015-10-11,2015-10-18,standard class,so-20335,sean o'donnell,consumer,united states,fort lauderdale,florida,33311,south,off-st-10000760,office supplies,storage,eldon fold 'n roll cart system,22.3680,2,0.20,2.5164

In [16]:

 #Save the cleaned dataset


output_csv = "superstore_cleaned.csv"
output_excel = "superstore_cleaned.xlsx"

df.to_csv(output_csv, index=False)
df.to_excel(output_excel, index=False)

print("Cleaned data saved as:")
print("-", output_csv)
print("-", output_excel)

Cleaned data saved as:
- superstore_cleaned.csv
- superstore_cleaned.xlsx

In [ ]:
!git add .